@inherits LayoutComponentBase

    <div class="top-row px-4">
        <NavLink  href="route" Match="NavLinkMatch.Prefix">
             принимает с точкой
        </NavLink>
        <br/>
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>
<NavLink  href="/depend">иНЖЕКТ</NavLink>

 


    @Body