@model string

<p>model contains: @Model</p>
<br />

@Html.ActionLink("текст ссылки", "Index0", "Work0911", new { id = "такой себе ид" })
@Html.RouteLink("text for anchor", "One", new { id = "next page"})