@page "/parrrent"
<h3>AttribParrent</h3>

<AttribChild @attributes="CollAttr"  />

<input type="checkbox" checked="@Yes"/>
<input type="checkbox" checked="@No" />
<input type="checkbox" checked="@Nul" />
@code {
    public bool Yes { get; set; } = true;
    public bool No { get; set; } = false;
    public string Nul { get; set; } = null;

    private Dictionary<string, object> CollAttr { get; set; } = new Dictionary<string, object>
    {
        {"one", 12 },
        {"two", 312 },
        {"three", 342 },
        {"Onther", 6 }
    };

    public int MyProperty { get; set; } = 6;
}
