<h3>AttribChild</h3>

@*<p>одиночный атрибут: @Onther</p>*@
<div Onther="10" @attributes="Collection" >диву присвоид массив значение в  формате ключ=значение. Просмотри код</div>

@code {
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> Collection { get; set; }

    //[Parameter]
    //public int Onther { get; set; }
}
