@page "/autos"
@page "/autos/{text:int}"
@inject Notifiyer Notify

<h3>Auto</h3>
<EditForm Model="@autos" OnValidSubmit="@Work">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputNumber @bind-Value="autos.MaxSpeed" />
    <InputText @bind-Value="autos.Brand" />

    <button type="submit">отправить форму</button>
</EditForm>



<button @onclick="ServiceWork">Вызов метода из класса, внедренного в помощью зависимости</button>

@Success
<p>@Text</p>
<p>инжекчу событие: @TextWork </p>

@code {

    public string TextWork { get; set; }

    private async Task Work(int x, string y)
    {
        TextWork = x + y;
    }

    public async void ServiceWork()
    {
        Notify.WorkNotify += Work;
        await Notify.PuskNotify(12, " текст в переменной");
    }


    [Parameter]
    public int Text { get; set; } = 0;

    private Auto autos = new Auto();
    public string Success { get; set; }

    public void Work()
    {
        Success = autos.Brand + " " + autos.MaxSpeed;

    }

}
