@page "/autos"
@page "/autos/{text}"

<h3>Auto</h3>
<EditForm Model="@autos" OnValidSubmit="@Work">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputNumber @bind-Value="autos.MaxSpeed" />
    <InputText @bind-Value="autos.Brand" />

    <button type="submit">отправить форму</button>
</EditForm>




@Success
<p>@Text</p>

@code {
    [Parameter]
    public string Text { get; set; } = "def";

    private Auto autos = new Auto();
    public string Success { get; set; }

    public void Work()
    {
        Success = autos.Brand + " " + autos.MaxSpeed;

    }

}
