<h3>ChildContents</h3>

<div>это текст внутри дочернего компонента
    
    <div>тут отображается кусок кода из родительского компонента: 
    
    @ChildContent
    
    <p>Страна: @Country город: @City</p>
    <button class="btn btn-success" @onclick="OnclickDelegate">Жми меня</button>
    </div>
    
    </div>
@code {

    [Parameter]
    public string Country { get; set; }

    [Parameter]
    public string City { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]

    public EventCallback<MouseEventArgs> OnclickDelegate { get; set; }

}
