<h3>Child2909</h3>

<div @onclick="Call">Это текст из родителя - @Text. данные из родительского компонента ниже: </div>
<div>@ChildContent</div>
@code {

    [Parameter]
    public string Text { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }

 
    [Parameter]
    public EventCallback<MouseEventArgs> Call { get; set; }
}
