<h3>Child2909</h3>

<div @onclick="Call" @attributes="slovar">Это текст из родителя - @Text. данные из родительского компонента ниже: </div>
<div>@ChildContent</div>
@code {

    [Parameter]
    public string Text { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }


    [Parameter]
    public EventCallback<MouseEventArgs> Call { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]

    public Dictionary<string, object> slovar { get; set; }
}
