@page "/pages"
@using EFCoreTesting.Models
<h3>User Info</h3>

<EditForm Model="@user" OnValidSubmit="SaveUser">
    <InputText @bind-Value="user.FirstName" />
    <InputText @bind-Value="user.LastName" />
    <InputNumber @bind-Value="user.Age" />
    <button type="submit">Добавить пользователя в базу</button>
</EditForm>

@code {

    private User user = new User() { FirstName = "Ivan", LastName = "Petrov", Age = 23};

    private void SaveUser()
    {

    }
}
