@page "/state"
<h3>StateParrent</h3>

<StateChild State="true">
    Текст из родителя внутри первого компонента
</StateChild>

<button @onclick="StateHasChanged">Обновить компонент</button>
@code {

}
