 
<p>@ChildContent  -- @Rand</p>

@code {
    public int Rand { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    protected override void OnInitialized()
    {
        Rand = new Random().Next(1, 33333);
    }
}
