@page "/work1810b"
@*@inject Work1810Service Servicee*@

<h3>Work1810b</h3>
<p @onclick="GetDependency">По клику получаю зависимость </p>
<p>@Dependas?.City</p>

<Work1810Child TextFromParent="Из родителя текст" OnClickCallBack="Start" @attributes="MassParam">
    <p>а это блок кода из родителя</p>
</Work1810Child>

@Reta   

@code {

    public string Reta { get; set; }

    public void Start()
    {
        Reta = "событие обработано";
    }

    public Dictionary<string, object> MassParam { get; set; } = new Dictionary<string, object> {
        { "tutu", "one" },
        { "dada", "two" },
        { "nana", "three" }
    };
}
