<h3>Work1810Child</h3>

<h3 @onclick="OnClickCallBack">Заголовк на основании текста из родителя гласит: @TextFromParent</h3>
<div @attributes="Slovar">
    @ChildContent
</div>

@code {
    [Parameter]

    public string TextFromParent { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnClickCallBack { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> Slovar { get; set; }
}
