@model User


<form asp-action="AddUser" asp-controller="WorkRelation" method="post">
    <input type="hidden" name="Id" asp-for="Id" />
    <input name="FirstName" asp-for="FirstName" />
    <input name="LastName" asp-for="LastName" />
    <input name="BirthDay" asp-for="BirthDay" />
    <input type="checkbox" name="IsMale" asp-for="IsMale" value="true" />
    <input type="number" name="Age" asp-for="Age" />

    <input type="hidden" name="Address.Id" asp-for="Address.Id" />
    <input type="text" name="Address.City" asp-for="Address.City" />
    <input type="text" name="Address.Country" asp-for="Address.Country" />

    <button type="submit">Отправить</button>
</form>