<p>Model is empty, but I have inserted data to TempData Dictionary^ @TempData["MyTempAttr"]</p>
<p>если значение все еще находится в кеше, в темдате будет пусто. Если же кеш был пустым и в этой операции заносилась дата в кеш, тогда на экране отображается внесенное значение</p>