@model string

<p>here is model: @Model</p>

@{
    <text>это текст с разметкой внутри Razor  кода<br /></text>
 
    @:теги <em>также</em> поддерживает. Это тоже текст с разметкой, но распознает ее до перехода на следующую строку. Все, что на следующей строке, будет считаться уже кодом
}