<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>layout from directory home (it is not work in dir root )</div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
