<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <p>Макет от 26.10 - из файла импорта</p>
        @RenderBody()
    </div>
</body>
</html>
