@model Address
<p>Совместный с контроллером компонент</p>
@await Component.InvokeAsync("PartialComponent")

<p id="не потерян, перенесен в новый элемент" name="nameforcss">абзац</p>
<button name="не работает">кнопка</button>
<p>вьюха, в которой прикрепляю компонент</p>
@if (Model != null)
{
    @await Component.InvokeAsync("AddUser", Model)
}

@await Component.InvokeAsync("Work0810", "маленько так")

@await Component.InvokeAsync("Combo0810")

@await Component.InvokeAsync("MyString") 
<div>
    <divneprostoy tut-vam-ne-leto="согласен"></divneprostoy>
</div>

<div>
    <boris hare moodak="хорошее настроение"></boris>
</div>
<ul>
    <li>
        <p hare moodak="хорошее настроение"></p>
    </li>
</ul>
 