@model Address
<p>Совместный с контроллером компонент</p>
@await Component.InvokeAsync("PartialComponent")


<p>вьюха, в которой прикрепляю компонент</p>
@if (Model != null)
{
    @await Component.InvokeAsync("AddUser", Model)
}



@await Component.InvokeAsync("MyString") 