<h3>Child2111</h3>

<div>
    <p>Внутри дочернего компонента: начало</p>
    <div class="child">@ChildContent</div>
    <button @onclick="ClickEvent">Волшебная кнопка</button>
    <p>Внутри дочернего компонента: конец</p>
</div>
@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> ClickEvent { get; set; }
}
