<h3>Page2611_2</h3>

<p>значение изначальное при нициализации: @perenaznachil</p>
<input type="checkbox" checked="@Che" />

@code {
    [Parameter]
    public string Che { get; set; }

    private string perenaznachil;

    [Parameter]
    public string MyProperty { get; set; }

    protected override void OnInitialized()
    {
        perenaznachil = MyProperty + " добавка";
    }
}
