@page "/page2511-2"
@inject Service2511 Service
@implements IDisposable

<h3>Page2511</h3>
<p>результат: @Result</p>

@code {

    public string Result { get; set; }

    protected override void OnInitialized()
    {
        Service.MyFuncDelegate += Davay2;
    }
    public async Task Davay2(int x, int y)
    {
        await InvokeAsync(() =>
         {
             Result = "otworkal";
             StateHasChanged();
         });
    }


    public void Dispose()
    {
        Service.MyFuncDelegate -= Davay2;
    }
}
