@page "/page0512"
@page "/page051"
@page "/page_0512"
@page "/page0512/1"
<h3>Page0512</h3>
<ul>
    <li><NavLink href="page_0512" Match="NavLinkMatch.All">Ссылка 1</NavLink></li>
    <li><NavLink href="page0512" Match="NavLinkMatch.Prefix">Ссылка 2</NavLink></li>
    <li><NavLink href="page051" Match="NavLinkMatch.Prefix">Не сработает</NavLink></li>
</ul>

@code {

}
