@page "/parent2111"

<h3>Parent2111</h3>
<Child2111 ClickEvent="Obrabotchik" @attributes="Dict" @ref="childec">
    <p @onclick="@(() => childec.Magiya())">текст из родительского компонента: @Res</p>
</Child2111>

@code {

    private Child2111 childec;

    public string Res { get; set; }
    void Obrabotchik ()
    {
        Res = "спасибо за клик, но не стоило, ей богу";
    }

    public IEnumerable<KeyValuePair<string, object>> Dict { get; set; } = new Dictionary<string, object>
        {
            {"dd", "hac" },
            {"mm", "zak" }
        };

}
