<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <p>Макет от 21.11</p>
        @RenderBody()
    </div>
    <div>
        @RenderSection("MySection", required: false)
    </div>
</body>
</html>
