<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" src="css/bootstrap/bootstrap.min.css"   />
    <title>@ViewBag.Title</title>
    <base href="~/" />
</head>
<body>
    <div class="btn-success btn-block">Это содержимое макета MVC</div>
    <div>
        @RenderBody()
    </div>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
