<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <environment include="Development">
        <link rel="stylesheet" href="~/css/siteRobson.css" asp-append-version="true" />
        <script src="~/js/myScripts.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/siteRobson.min.css" />
        <script src="~/js/myScripts.min.js"></script>
    </environment>

    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css"
          asp-fallback-href="/css/bootstrap/bootstrap.min.css"
          asp-fallback-test-class="list-unstyled"
          asp-fallback-test-property="padding-left"
          asp-fallback-test-value="0"
          asp-append-version="true"/>


    <title>@ViewBag.Title</title>
    <base href="~/" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    @*@await Component.InvokeAsync(nameof(Cart))*@

    <div class="btn-success btn-block">Это содержимое макета MVC</div>
    <div>
        @RenderBody()
    </div>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
