@model Address

<form>
    <input asp-for="City" />
    <input asp-for="Country" />
</form>

<p>Ссылка на страницу для теста передачи параметров в экшн - <a asp-controller="Work1310" asp-action="Route" asp-route-id="13" asp-route-takaya="немного текста">тело ссылки</a></p>

<form asp-action="Route" asp-controller="Work1310" method="post">
    <input type="text" asp-for="@Model.City" value="" />
    <input type="text" asp-for="@Model.Country" value="" />
    <button type="submit">Отправить</button>
</form>