@model Address

<form>
    <input asp-for="City" />
    <input asp-for="Country" />
</form>

<p>Ссылка на страницу для теста передачи параметров в экшн - <a asp-controller="Work1310" asp-action="Route" asp-route-id="13" asp-route-takaya="немного текста">тело ссылки</a></p>

<form asp-action="Route" asp-controller="Work1310" method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <input type="text" asp-for="City" class="form-control" />
        <span asp-validation-for="City" class="text-danger"></span>
    </div>
    
    <input type="text" asp-for="Country" />
    <button type="submit">Отправить</button>
</form>