@model string

<form asp-action="Index" method="get">
    <input type="text" name="data" />
    <input type="submit" value="отправить" />
</form>
<p>get data from controller: @Model</p>

<ul>
    <li nachalo-konca="есть такое"></li>
</ul>