<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <environment include="Development">
        <link rel="stylesheet" type="text/css" href="netu.css" asp-fallback-test-class="hidden" asp-fallback-test-property="visibility" asp-fallback-test-value="hidden"  asp-append-version="true" asp-fallback-href-include="~/css/GenericSiteRobson.css,~/css/GenericSiteRobson.min.css"/>
    </environment>
    <environment include="Staging">
        <link rel="stylesheet" type="text/css" href="~/css/GenericSiteRobson.min.css" />
    </environment>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>layout from directory shared</div>
    <div>
        @RenderBody()


        @RenderSection("My", required: false)

            


    </div>
</body>
</html>
