

<h2>Пример вспомогательной функции с внедренной зависимостью в виде репозитария с доступом к адресам</h2>

<returnListAddress />

<br/>
@await Component.InvokeAsync(nameof(Comp2510), new { naVchod = "входной параметр" }) 