@model string


@await Component.InvokeAsync("Component2611", new { Name = Model })

<vc:probn Name="privet"></vc:probn>

<p>и еще: @await Component.InvokeAsync(nameof(NameComp)) </p>

<p>и еще из комбо: @await Component.InvokeAsync("Probny2", "vpered") </p>