
<form asp-action="Add" asp-controller="Work1111" asp-area="Distribute" method="post">
    <input type="text" name="user.FirstName" />
    <input type="text" name="user.LastName" />
    <input type="number" name="user.Age" />
    <input type="date" name="user.BirthDay" />
    <input type="checkbox" value="true" name="user.IsMale" />
    <input type="text" name="user.Address.Country" />
    <input type="text" name="user.Address.City" />
    <button type="submit">Отправить</button>
</form>